---
interface Props {
  title: string;
  description: string;
  client: string;
  images: { src: string; alt: string }[];
  projectId: string;
}

const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);
const { title, description, images = [], client, projectId } = Astro.props;
import type { languages } from "../../i18n/ui";
import { useTranslations } from "../../i18n/util";
import "./CardProjects.css";
let randomImageSrc = "";
let randomImageAlt = "";
if (images.length > 0) {
  const randomIndex = Math.floor(Math.random() * images.length);
  const selectedImage = images[randomIndex];
  randomImageSrc = selectedImage.src;
  randomImageAlt = selectedImage.alt;
}
---

<div class="project-card">
  <div class="project-image-container">
    <figure>
      <img src={randomImageSrc} alt={randomImageAlt} class="project-image" />
    </figure>
    <div class="image-counter">
      📸 {images.length}
      {translateLabels("project-card-Imagecounter")}
    </div>
  </div>
  <div class="project-content">
    <div class="project-client">{client}</div>
    <h2 class="project-title">{title}</h2>
    <p class="project-description">{description}</p>

    <button class="view-project-btn btn-open-modal" data-project-id={projectId}>
      {translateLabels("project-card-button")}
    </button>
  </div>
</div>
